* {
  margin: 0;
  padding: 0;
}

.registerForm {
  margin-top: 5%;
  margin-left: 35%;
  margin-right: 35%;
}

.container-fluid {
  margin-left: 5%;
  margin-right: 5%;
}

a {
  text-decoration: none;
}

/* Add this CSS to your stylesheet or in a <style> tag in the <head> section */
.carousel-inner {
  height: 450px;
  /* Set the desired height for the carousel */
}

/* Optionally, you can also set a specific height for carousel items if needed */
.carousel-item {
  height: 350px;
  /* Set the height for individual carousel items */
}

h3 {
  margin-top: 2vh;
  display: flex;
  align-content: center;
  justify-content: center;
}

/* .categoryCards{
  margin-top: 5vh;
  display: flex;
  margin-left: 5%;
  gap: 2vh;
  overflow-x: auto;
  width: 100%;
} */
.categoryCards {
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  /* Set the flex direction to row */
  gap: 2vh;
  overflow-x: auto;
  /* Enable horizontal scroll */
  width: 100%;
  /* Set a specific width for your container, or adjust as needed */
  padding: 10px;
  /* Optional: Add padding for spacing */
}

/* Ensure your cards have a width greater than the container's width */
.card {
  min-width: 40vh;
  min-height: 40vh;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.categoryGrid {
  margin-top: 5vh;
  margin-left: 5%;
  margin-right: 5%;
  display: grid;
  grid-template-columns: repeat(3, 33.3333%);
  grid-template-areas: "one two two" "one three four";
}

.fashion {
  grid-area: one;
}

.fashionImage>img {
  /* height: 100%; */
  /* width: 30%; */
}

.gadgets {
  grid-area: two;
}

.gadgetsImage>img {
  /* height: 50%; */
  width: 70%;
}

.vegetables {
  grid-area: three;
}

.vegetablesImage>img {
   /* height: 50%; */
  width: 50%; 
}

.skinCare {
  grid-area: four;
}

.skinCareImage>img {
   /* height: 50%; */
   width: 50%; 
}