* {
  margin: 0;
  padding: 0;
}

.registerForm {
  margin-top: 5%;
  margin-left: 35%;
  margin-right: 35%;
}

.container-fluid {
  margin-left: 5%;
  margin-right: 5%;
}

a {
  text-decoration: none;
}

.carousel-inner {
  height: 450px;
}

.carousel-item {
  height: 350px;
}

h3 {
  margin-top: 2vh;
  display: flex;
  align-content: center;
  justify-content: center;
}

.categoryCards {
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  gap: 2vh;
  overflow-x: auto;
  width: 100%;
  padding: 10px;
}

.card {
  min-width: 40vh;
  min-height: 40vh;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}


footer{
  margin-top: 3vh;
  background-color: rgb(251, 251, 251);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.email{
  display: flex;
  flex-direction: row;
  gap: 3vh;
}

.forgotPwd{
  font-size: smaller;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.resetPwd{
  font-size: smaller;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-bottom: -10vh;
  padding: 0;
}
